$be-white: #fff;
$be-gray-100: #f8f9fa;
$be-gray-200: #e9ecef;
$be-gray-300: #dee2e6;
$be-gray-400: #ced4da;
$be-gray-500: #adb5bd;
$be-gray-600: #6c757d;
$be-gray-700: #495057;
$be-gray-800: #343a40;
$be-gray-900: #212529;
$be-black: #000;

$be-body-bg: #181818;
$be-text-default: #fff;

$be-primary: #e50914;
$be-primary-hover: #aa0009;

$be-secondary: #282828;
$be-border-color: #747474;

$be-color: $be-text-default;
$be-background: $be-body-bg;
$be-foreground: $be-text-default;
$be-search-border: $be-border-color;

$be-btn-border-radius: 20px;
$be-font-size: 18px;
$header-br: $be-btn-border-radius;
$be-header-text: $be-font-size;
