/* -------------------------------------------------------------------------------
### SCSS -> Imports -> Variable -> Typography
------------------------------------------------------------------------------- */

// scss-docs-start font-variables
$font-family-sans-serif: "Inter", sans-serif;
$font-family-monospace: "Montserrat", sans-serif;

// $font-size-root affects the value of `rem`, which is used for as well font sizes, paddings, and margins
// $font-size-base affects the font size of the body text
$font-size-base: 16px; // Assumes the browser default, typically `16px`
$font-size-sm: 14px;
$font-size-lg: 18px;
$font-size-md: 15px;

$font-weight-lighter: lighter;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-bolder: bolder;

$font-weight-base: $font-weight-normal;

$line-height-base: 1.5;
$line-height-sm: 1.25;
$line-height-lg: 2;

$h1-font-size: clamp(30px, calc(1.875rem + ((1vw - 3.2px) * 1.25)), 50px);
$h2-font-size: clamp(28px, calc(1.75rem + ((1vw - 3.2px) * 0.75)), 40px);
$h3-font-size: clamp(26px, calc(1.625rem + ((1vw - 3.2px) * 0.5625)), 35px);
$h4-font-size: clamp(24px, calc(1.5rem + ((1vw - 3.2px) * 0.375)), 30px);
$h5-font-size: clamp(18px, calc(1.125rem + ((1vw - 3.2px) * 0.25)), 22px);
$h6-font-size: clamp(16px, calc(1rem + ((1vw - 3.2px) * 0.25)), 20px);
// scss-docs-end font-variables

// scss-docs-start font-sizes
$font-sizes: (
    1: $h1-font-size,
    2: $h2-font-size,
    3: $h3-font-size,
    4: $h4-font-size,
    5: $h5-font-size,
    6: $h6-font-size
);
// scss-docs-end font-sizes

// scss-docs-start headings-variables
$headings-font-family: null;
$headings-font-style: null;
$headings-font-weight: 500;
$headings-line-height: 1.2;
$headings-color: inherit;
// scss-docs-end headings-variables

// scss-docs-start display-headings
$display-font-sizes: (
    1: 5rem,
    2: 4.5rem,
    3: 4rem,
    4: 3.5rem,
    5: 3rem,
    6: 2.5rem
);

$display-font-weight: 300;
// scss-docs-end display-headings
