.be-home {
}

.be-home-carousel {
    text-align: center;
    width: 1300px;
    height: 300px;
    margin: 0 auto;
    background: #364d79;
    overflow: hidden;
    // .ant-carousel .slick-slide {
    // }
}

.book-card {
    display: inline-block;
    width: 175px;
    height: 250px;
    margin: 0 10px;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;

    img {
        width: 100%;
        height: auto;
        border-radius: 10px 10px 0 0;
        object-fit: cover;
    }
}
