//-------------------------------------------------------------------------------/
// ### Styles -> Conmponents -> Header
//-------------------------------------------------------------------------------/
// Margin top so header fix position does not overlap with body content
body {
    margin-top: 150px;
}

.be-header {
    backdrop-filter: blur(5px);
    font-family: $font-family-sans-serif;
    padding: 30px 20px 0;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000;

    // div
    > div {
        background-color: $be-secondary;
        border-radius: $header-br;

        .mobile-search-wrapper {
            position: absolute;
            left: 0;
            right: 0;
            padding: 10px;
            transform: translateY(-100%);
            opacity: 0;
            visibility: hidden;
            transition: all 0.3s ease;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
            z-index: 999;
            width: 100%;
            border-radius: 20px;
            display: flex;
            justify-content: center;
        }

        .mobile-search-wrapper.open {
            transform: translateY(0);
            opacity: 1;
            visibility: visible;
            display: flex;
            justify-content: center;
            position: relative;
            left: 0;
            right: 0;
        }

        .be-mobile-input {
            position: relative;
            display: flex;
            align-items: center;
            border: 1px solid #ddd;
            border-radius: 20px;
            padding: 3px 9px;
            width: 60%;

            input {
                font-size: 13px;

                &:focus-visible {
                    outline: none;
                }

                &::placeholder {
                    font-size: 13px;
                }
            }

            .search-icon {
                position: absolute;
                width: 23px;
                right: 2px;
                top: 2px;
            }
        }
    }

    // logo
    .be-logo {
        width: 100px;
        height: 18px;
    }

    .be-nav {
        margin: 0 20px;
        padding: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 8px;
        font-size: 15px;
        height: 52px;

        .be-logo {
            display: flex;
            align-items: center;
        }

        .be-nav-content {
            display: none;
            gap: 20px;

            button {
                display: flex;
                align-items: end;
                gap: 5px;

                svg {
                    width: 18px;
                }
            }

            .be-link {
                opacity: 0.8;
                color: $be-gray-500;
                transition: all 0.25s ease-out;

                a {
                    color: inherit;
                }

                &:hover {
                    color: $be-white;
                    opacity: 1;
                    transition: all 0.25s ease-out;
                }
            }
        }

        .be-link {
            padding: 18px 0;
            font-weight: 600;
            font-size: 16px;

            &:focus-visible {
                outline: none;
            }

            svg {
                width: 20px;
            }
        }

        a {
            text-decoration: none;
            transition: all 0.25s ease-out;

            &:hover {
                transition: all 0.25s ease-out;
            }
        }
    }

    // dropdown
    .be-dropdown {
        position: relative;
        background-color: $be-secondary;

        // when the dropdown appears
        .relative {
            border: 1px solid transparent;

            .active {
                color: $be-white;
                opacity: 1;
            }
        }

        // when the dropdown is hovered
        &:hover {
            .be-dropdown-content {
                box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
                transition: box-shadow 150ms ease-in-out;
                transform: translateY(0px);
            }
        }

        .be-dropdown-content {
            position: absolute;
            top: 70px;
            width: 100%;
            border-radius: 20px;

            svg {
                width: 20px;
            }

            .be-list-content {
                background-color: $be-secondary;

                button {
                    transition: all 0.2s ease-out;
                    font-weight: $font-weight-normal;

                    &:hover {
                        color: $be-primary !important;
                        transition: all 0.2s ease-in;
                    }

                    h5 {
                        font-size: 20px;
                    }

                    .be-list {
                        display: flex;
                        gap: 33px;

                        ul {
                            padding: 0;
                            gap: 10px;
                            display: flex;
                            flex-direction: column;
                            margin-bottom: 0;

                            a {
                                text-decoration: none;
                                color: $be-text-default;
                                font-size: 15px;
                                transition: all 0.2s ease-in;

                                &:hover {
                                    color: $be-primary !important;
                                    transition: all 0.2s ease-out;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    // hamburger-toggler
    .be-navbar-toggle {
        display: block;

        svg {
            width: 28px;
            height: 28px;
        }
    }

    button {
        padding: 10px 0;
        font-weight: 600;

        &:focus-visible {
            outline: none;
        }

        svg {
            width: 20px;
        }
    }

    // header-right-content
    .be-right-content {
        margin: auto 0;
        display: flex;
        align-items: center;
        gap: 6px;
        position: relative;

        // search-input
        .be-input {
            position: relative;
            right: 0;

            .be-search-input {
                border: 1px solid $be-search-border;
                border-radius: 20px;
                font-size: 13px;
                color: $be-white !important;
                margin: auto 0;
                width: 160px !important;
                height: 28px !important;
                padding: 8px 30px 8px 8px !important;
                transition: all 0.25s ease-out;

                &:focus-visible {
                    outline: none;
                    border: 1px solid $be-white;
                    transition: all 0.25s ease-in;

                    &::placeholder {
                        color: $be-gray-400 !important;
                        transition: all 0.25s ease-in;
                    }
                }

                &::placeholder {
                    color: $be-search-border !important;
                    font-size: 11px !important;
                    transition: all 0.25s ease-out;
                }
            }

            .search-icon {
                position: absolute;
                width: 23px;
                height: 23px;
                top: 3px;
                right: 3px;
                cursor: pointer;

                &:focus {
                    top: 3px !important;
                    right: 3px !important;
                }
            }

            + button {
                display: none !important;
            }
        }

        .be-input.show {
            display: block;
        }

        // search-icon-outside
        .search-icon-outside {
            top: 0px;
            right: 3px;
            width: 23px;
            height: 23px;
            position: relative;
        }

        // login-btn
        .be-login-btn {
            background-color: $be-primary;
            color: $be-white !important;
            white-space: nowrap;
            text-decoration: none;
            padding: 8px 12px;
            font-size: 12px;
            line-height: 1;
            border-radius: 20px;
            font-weight: 600;

            :hover {
                background-color: $be-primary-hover;
            }
        }

        // dropdown
        .be-profile-dropdown {
            position: relative;
            display: block;

            .be-link {
                padding: 0;

                svg {
                    width: 18px;
                }
            }

            button {
                display: flex;
                gap: 5px;
                align-items: center;
                transition: all 0.25s ease-out;

                h6 {
                    display: none;
                    margin: 0;
                    font-weight: 500;
                    transition: all 0.25s ease-in-out;
                }
            }

            /* Hide h6 by default */
            .be-link .dropdown-username {
                display: none;
                opacity: 0;
                transition: opacity 0.3s ease;
                transform: translateY(-5px);
                transition: all 0.25s ease-out;
            }

            /* Show it when dropdown is open */
            .be-link[aria-expanded="true"] .dropdown-username {
                display: inline-block;
                opacity: 1;
                transform: translateY(0);
                transition: all 0.25s ease-in;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                width: 95px;
            }

            /* Show it when dropdown is open */
            .be-link[aria-expanded="true"] {
                transform: translateY(0);
                transition: all 0.25s ease-in;
            }

            .be-dropdown-content {
                position: absolute;
                left: -7px;
                top: 65px;
                background-color: $be-secondary;
                border-radius: 25px;
                width: fit-content;

                svg {
                    width: 25px;
                }

                h5 {
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    margin-bottom: 15px;
                    font-family: $font-family-monospace;
                    font-weight: $font-weight-semibold;
                }

                .be-list-content {
                    width: 194px;
                    padding: 25px 20px 25px 20px !important;
                    border-radius: $be-btn-border-radius;

                    .be-list {
                        display: flex;
                        gap: 33px;

                        ul {
                            padding: 0;
                            gap: 13px;
                            display: flex;
                            flex-direction: column;
                            margin-bottom: 0;

                            a {
                                text-decoration: none;
                                color: $be-text-default;
                                display: flex;
                                align-items: center;
                                gap: 10px;

                                &:hover {
                                    color: $be-primary !important;
                                    transition: all 0.2s ease-in-out;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    // responsive content
    .be-navbar-mobile {
        display: none;
        background-color: $be-secondary;
        border-radius: $header-br;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        z-index: 1000;
        margin: 30px 20px 0;
        padding: 40px;
        height: 100vh;

        .be-navbar-content {
            margin-top: 70px;

            .be-nav-content {
                display: flex;
                flex-direction: column;
                gap: 20px;
            }

            .be-dropdown {
                &:hover .be-dropdown-content {
                    box-shadow: none;
                    transition: 0.5s;
                }

                .be-dropdown-content {
                    position: relative;
                    top: 15px;

                    .be-list-content {
                        padding: 0px 25px 15px !important;
                        width: 100%;
                        transition: 0.5s;

                        h5 {
                            margin-bottom: 10px !important;
                            font-size: 18px !important;
                        }
                    }
                }

                button {
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    padding: 0 !important;
                    transition: 0.5s;

                    svg {
                        width: 18px;
                        height: 18px;
                    }
                }
            }
        }

        .be-mobile-header {
            .mobile-close {
                position: absolute;
                top: 24px;
                right: 24px;
                padding: 0;

                svg {
                    width: 28px;
                    height: 28px;
                }
            }
        }
    }

    .be-navbar-mobile.show {
        display: block;

        .be-navbar-content .be-dropdown {
            button {
                transition: 0.5s;
            }

            .be-dropdown-content {
                display: block;
                transition: 0.5s;
            }
        }
    }

    .be-navbar-mobile.hide {
        display: none;
    }

    .be-navbar-toggle {
        display: none;
    }

    @media screen and (max-width: 768px) {
        .be-navbar-mobile {
            padding: 0px 30px;

            .be-navbar-toggle {
                display: block;
            }

            .be-navbar-content .be-dropdown .be-dropdown-content {
                .be-list {
                    gap: 15px;
                    flex-direction: column;

                    ul {
                        flex-direction: row;
                        flex-wrap: wrap;
                        gap: 15px;
                    }
                }
            }

            .be-mobile-header .mobile-close {
                right: 24px;
            }
        }
    }

    // responsive content

    @media (min-width: 768px) {
        padding: 40px 25px 0;

        .be-logo {
            width: 120px;
            height: 20px;
        }

        .be-navbar-toggle {
            display: block;

            .be-search-input {
                width: 200px;
                height: 30px;

                .search-icon {
                    width: 24px;
                    height: 24px;
                }
            }

            svg {
                width: 30px;
                height: 30px;
            }
        }

        .be-right-content {
            gap: 20px;

            .be-input {
                .be-search-input {
                    width: 200px !important;
                }
            }

            .search-icon-outside {
                top: -1px;
            }

            .be-navbar-toggle {
                svg {
                    width: 30px;
                    height: 30px;
                }
            }

            .be-login-btn {
                font-size: 13px;
                padding: 8px 16px;
            }
        }

        .be-nav {
            height: 60px;
        }

        .be-navbar-mobile .be-mobile-header .mobile-close svg {
            width: 30px;
            height: 30px;
        }
    }

    @media (min-width: 992px) {
        padding: 40px 30px 0;

        .be-nav {
            margin: 0 25px;

            .be-nav-content {
                display: block flex;
            }

            // navbar right content
            .be-right-content {
                gap: 50px;

                .be-input {
                    display: block;

                    .search-icon {
                        top: 3px !important;
                        position: absolute;
                        width: 28px;
                        height: 28px;
                    }
                }

                .be-search-input {
                    width: 200px !important;
                    height: 33px !important;
                    padding: 8px 30px 8px 12px !important;

                    &::placeholder {
                        font-size: 13px !important;
                    }
                }

                .search-icon-outside {
                    top: 2px;
                    width: 28px;
                    height: 28px;
                }

                .be-login-btn {
                    font-size: 15px;
                    padding: 9px 20px;
                }
            }

            // hamburger-toggler
            .be-navbar-toggle {
                display: none;
            }

            // dropdown
            .be-dropdown {
                .be-dropdown-content {
                    transition-delay: 0.1s;
                    transform: translateY(-10px);
                    border-radius: 25px;

                    .be-list-content {
                        border-radius: 20px;
                        border: none;
                    }
                }
            }
        }
    }

    @media (min-width: 1200px) {
        padding: 40px 50px 0;

        .be-nav {
            margin: 0 30px;
        }

        .be-logo {
            width: 135px !important;
            height: 22px !important;
        }

        // nav content
        .be-nav-content {
            gap: 40px;
        }

        // navbar right content
        .be-right-content {
            gap: 35px !important;

            .be-input {
                .search-icon {
                    top: 3px !important;
                    position: absolute;
                    width: 27px;
                    height: 27px;
                }
            }

            .be-search-input {
                width: 250px !important;
                height: 32px !important;
                padding: 8px 30px 8px 12px !important;

                &::placeholder {
                    font-size: 13px !important;
                }
            }

            .search-icon-outside {
                top: 2px;
                width: 28px;
                height: 28px;
            }

            .be-login-btn {
                font-size: 15px;
                padding: 10px 20px;
            }
        }

        // dropdown
        .be-dropdown {
            .be-dropdown-content .be-list-content {
                width: 700px;
            }
        }

        // Profile dropdown
        .be-profile-dropdown {
        }
    }
}
