//-------------------------------------------------------------------------------/
// ### Styles -> Components -> HomeCarousel
//-------------------------------------------------------------------------------/

.dashboard-page {
    padding-top: 58px;
    padding-bottom: 113px;

    .be-home-carousel {
        text-align: center;
        width: 100%;
        height: 100%;
        overflow: hidden;
        margin-bottom: 40px;

        .slick-slider {
            button::after {
                width: 20px;
                height: 20px;
            }

            .slick-next {
                right: 10px;
            }

            .slick-dots {
                li {
                    width: 35px;
                    cursor: pointer;
                }

                .slick-active {
                    width: 24px !important;
                }
            }

            .slick-list {
                .slick-slide {
                    display: flex;
                    justify-content: center;
                    overflow: hidden;

                    img {
                        width: 100%;
                        height: 100%;
                        border-radius: 20px;
                    }
                }
            }
        }
    }
}
.ant-carousel {
    width: 100%;
    .slick-list {
        border-radius: 20px;
    }
}

.min-h-screen{
    .w-full{
        button{
            border-radius: 25px;
        }
    }
}
