//-------------------------------------------------------------------------------/
// ### Styles -> Components -> Bookcard
//-------------------------------------------------------------------------------/

main {
    .grid .bookcard:hover .bookcard-wrapper {
        opacity: 1 !important;
        background-color: rgba(40, 40, 40, 0.9);
    }
}

main {
    .book-category-scroll .flex .flex-shrink-0 .bookcard:hover .bookcard-wrapper {
        opacity: 1 !important;
        background-color: rgba(40, 40, 40, 0.9);
    }
}
