@use 'tailwindcss';

// Variables
@use './variables/variables.scss' as *;

// Pages
@use './pages.scss';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --background: $body-bg;
    --foreground: $text-default;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: $body-bg;
        --foreground: $text-default;
    }
}

body {
    background: $body-bg;
    color: $text-default;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}
