@use 'tailwindcss';

@use '../styles/__bootstrap/bootstrap.scss' as *;

// Variables
@use './_1_imports/imports' as *;

// Variables
@use './_2_components/_components.scss' as *;

// Pages
@use './pages.scss' as *;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --background: $be-body-bg;
    --foreground: $be-text-default;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: $be-body-bg;
        --foreground: $be-text-default;
    }
}

body {
    background: $be-body-bg;
    color: $be-text-default;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}
