@use "../_1_imports/imports" as *;

.be-header {
    background-color: $be-secondary;
    background-color: $be-secondary;

    a img {
        width: 154px;
        height: 34px;
    }
}

.rounded-header {
    border-radius: 25px;
}
