@use '../_1_imports/_1_variables/variables' as *;

.be-form {
    width: 600px;
    margin: 0 auto;
    color: $be-color;

    .be-form-input {
        background-color: $be-secondary;

        &::placeholder {
            color: $be-gray-500;
            font-size: 12px;
            opacity: 1;
        }

        &:focus {
            color: $be-color;
            border-color: $be-primary;
            box-shadow: unset;
        }
        // Chrome autofill override
        &:-webkit-autofill {
            box-shadow: 0 0 0 1000px $be-secondary inset !important;
            -webkit-text-fill-color: $be-color !important;
            transition: background-color 5000s ease-in-out 0s;
            // border-color: $be-primary;
        }

        &:-webkit-autofill:hover,
        &:-webkit-autofill:focus,
        &:-webkit-autofill:active {
            box-shadow: 0 0 0 1000px $be-secondary inset !important;
            -webkit-text-fill-color: $be-color !important;
        }
    }

    .be-btn {
        background-color: $be-primary;
        color: $be-color;
        border: 1px solid $be-primary;
        font-weight: 600;
        font-size: 16px;
        padding: 15px 55px;
        line-height: 1;
        border-radius: $be-btn-border-radius;

        &:hover {
            background-color: $be-primary-hover;
            border-color: $be-secondary;
        }
    }

    * {
        color: $be-color;
    }
}
